<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviles.kuyuwalltay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_palomitas_de_maiz"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_palomitas_de_maiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaPelisActivity" android:parentActivityName=".HomeActivity"></activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".CinesActivity" android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ActulizarDatosUssActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".detallePeliculasActivity"
            android:parentActivityName=".activitylistaPeliculas" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".activitylistaPeliculas"/>
        <activity android:name=".activityRegistrar" android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>